@import "src/assets/colors.scss";

.app {
  display: flex;
  gap: 10px;

  ul {
    margin: 0;
    padding: 0;

    & > li {
      list-style-type: none;
    }
  }
}

.lifts {
  position: absolute;
  display: flex;
  gap: 10px;
  border: 2px solid #00457e;
  left: 60px;

  & > li {
    border-left: 2px solid #00457e;
    border-right: 2px solid #00457e;
  }

  & > li:first-child {
    border-left: none;
  }

  & > li:last-child {
    border-right: none;
  }
}

.buttons {
  width: 100%;

  & > li:last-child {
    border: none;
  }
}
